<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/angular.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/ol.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/ui-layout/ui-layout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/ngeo/ngeo.js"></script>
<!-- markdown widget -->
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/showdown/src/showdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/vendor/angular-markdown-directive/markdown.js"></script>
<!-- map widget -->
<script type="text/javascript" src="{{ STATIC_URL }}angular-cartoview-map/map.js"></script>
<script type="text/javascript">
	var GEOSERVER_BASE_URL = "{{ GEOSERVER_BASE_URL }}";
	var PROXY_URL = "{{ PROXY_URL }}";
	var MEDIA_URL = "{{ MEDIA_URL }}";
	var MAP_CONFIG_URL = "{% url 'feature_list.map_config' %}";
	var appConfig = {{instance.config|safe}};
	var STATIC_URL = "{{ STATIC_URL }}";
	var ANGULAR_TEMPLATES_URL =  STATIC_URL + "feature_list/angular_templates/";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}feature_list/js/view-app.js"></script>