{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ instance.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.2/ol.css" />
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <style>
        html,body {
            height: 100%;
            margin: 0px;
            overflow: hidden
        }
        #root{
            height: 100%
        }
        

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.4/proj4.js"></script>
</head>
<body>
<div style="height: 100%;" id="root"></div>
<script src="{% static 'cartoview_feature_list/dist/FeatureList.bundle.js?version=2' %}"></script>
<script type="text/javascript">
    {% if instance %}
            var instanceId= {{ instance.id }}
            const urls={
                mapJsonUrl: "{% url 'map_json' mapid=instance.map.id %}",
                proxy: "{{ PROXY_URL }}",
                appInstance: "{% url 'api_dispatch_detail' api_name='api' resource_name='appinstances' pk=instance.id %}",
                geoserverUrl : "{{ GEOSERVER_BASE_URL }}",
                {% if 'access_token' in request.session %}
                    wfsURL : "{{ GEOSERVER_BASE_URL }}wfs?access_token={{request.session.access_token}}",
                    {% else %}
                    wfsURL : "{{ GEOSERVER_BASE_URL }}wfs",
                {% endif %}
                static: "{{ STATIC_URL }}",
                media: "{{ MEDIA_URL }}",
                rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
                geonodeRest: "{% url 'api_api_top_level' 'api' %}",
                attachmentUploadUrl:function(layerName){
                    return '/apps/cartoview_attachment_manager/'+layerName+'/file'
            },
            appInstancesPage:'?app__name={{instance.app.name}}&app__title={{instance.app.title}}',
            layers: "{% url 'layer_browse' %}",
            maps: "{% url 'maps_browse' %}",
            apps: "{% url 'app_manager_base_url' %}",
            viewURL: "{% url "cartoview_feature_list.view" instance_id=instance.id %}",
            appLogo:'{% static 'cartoview_feature_list/logo.png' %}',
            }
    {% endif %}

    const props = {{ instance.config | safe }};
    
    props.formTitle="{{instance.title}}"
    props.formAbstract="{{instance.abstract}}"
    props.username="{{request.user.username}}"
    CartoviewFeatureList.show('root', props,urls);
  </script>
</body>
</html>
