<md-list flex>
    <md-subheader class="md-primary"><md-checkbox ng-model="collapse" aria-label="Checkbox 1">Show Attributes
          </md-checkbox></md-subheader>
    <md-list-item class="md-3-line sample-show-hide" ng-show="collapse || false" ng-repeat="attr in feature.getKeys()" ng-if="valid(attr)">
        <div class="md-list-item-text" layout="column" style="padding-left: 10px;padding-right: 10px" >
            <h3>{{ attr }}</h3>
            <p>{{ feature.getProperties()[attr] }}</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
</md-list>