

<md-content class="map-results">
    <div ng-repeat="result in featureList.content.results">
        <md-list  ng-show="!featureList.selected">
            <md-list-item class="map-results-header"><h4>{{ result.title }}</h4></md-list-item>
            <md-list-item aria-label=""
                ng-repeat="feature in result.features"
                ng-click="featureList.selectFeature(feature)">
                <p dynamic-template template="result.itemTpl" feature="feature"></p>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>

    </div>
    <div ng-show="featureList.selected">
        <md-button ng-click="featureList.selectFeature()" aria-label>
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <div dynamic-template template="featureList.selected.result.detailsTpl" feature="featureList.selected"></div>
    </div>
</md-content>

